@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url('.//fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url('.//fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  src: url('.//fonts/Roboto-SemiBold.ttf');
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url('.//fonts/Roboto-Bold.ttf');
}

body {
  font-family: "Roboto", sans-serif;
  background: #F0F0F0;
  color: #393939;
  /* padding: 24px; */
  font-weight: 400;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

h1 {
  font-size: 73px;
}

h2 {
  font-size: 55px;
}

h3 {
  font-size: 41px;
}

h4 {
  font-size: 31px;
}

h5 {
  font-size: 23px;
}

input {
  background: none;
  font-size: inherit;
  font-weight: inherit;
}

.dashboard-layout {
  display: grid;
  grid-template-columns: 278px 1fr;
  min-height: 100vh;
}

.sidebar {
  background: #1e1e1e;
  /* width: 278px; */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 1rem 0 0 1rem;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.title {
  font-weight: 700;
  font-size: 64px;
}

.quote {
  margin-top: 13px;
  font-weight: 500;
  font-size: 31px;
}

.calendar__date {
  font-weight: 700;
  font-size: 40px;
}

.widgets {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}

.widget {
  padding: 32px;
  border: 1px solid #fff;
  border-radius: 50px;
  backdrop-filter: blur(30px);
  box-shadow: inset 0 0 15px 0 rgba(255, 255, 255, 0.25);
  background: hsla(0, 0%, 100%, 0.102);
}

/* ToDo List */
.todo {
  height: 500px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* max-height: 494px; */
}

.todo__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.todo__list {
  margin: 14px 0;
  overflow-y: auto;
  flex-grow: 1;
}

.task {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  padding: 4px 0;
}

.task:last-child:not(.task--new) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.task--done .task__content {
  text-decoration: line-through #393939;
}

.task--new {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  border-top: 1px dashed rgba(0, 0, 0, 0.2);
}

.task--new input {
  width: 90%;
  margin-right: auto;
}

.task__number {
  margin-right: 24px;
}

.task__content {
  margin-right: auto;
}


.todo__list::-webkit-scrollbar {
  width: 8px;
  /* ширина вертикального скролла */
}

.todo__list::-webkit-scrollbar-track {
  background: transparent;
  /* фон дорожки */
}

.todo__list::-webkit-scrollbar-thumb {
  background-color: #999;
  /* сам скролл */
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.todo__list::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}

/* Focus Task */
.focus {
  max-height: 240px;
}

.focus__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.focus__content input {
  width: 100%;
  height: 100%;
  border: 1px dashed rgba(0, 0, 0, 0.2);
}

.focus__task {
  font-size: 23px;
}

.focus__task--done {
  text-decoration: line-through #393939;
}